/* ============ PAGE 1 | DISTRIBUTION ============================================== */
.distribution {
    text-align: center;
}

.distribution-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -15px;
}

/* Cards */
.distribution-box {
    border: 1px solid var(--secondaryColor);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 15px;
    background-color: #fff;
    margin: 10px;
    flex-basis: calc(33.333% - 20px); /* Adjustment for spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Ensures cards do not overflow the viewport */
}

.distribution-box:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.distribution-box figure, .distribution-box img {
    width: 100%;
    height: auto;
}

.distribution-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.distribution-box p, .distribution-box a {
    font-size: 1rem;
}

.distribution-box ul {
    text-align: left; /* Left-aligns list content */
    padding: 0 10px;
}

.distribution-box img {
    border-radius: 15px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .distribution-row {
        flex-direction: row;
    }

    .distribution-box {
        flex-basis: 100%; /* Ensures boxes take full width on smaller devices */
    }

    .distribution-box img {
        max-width: 100%; /* Ensures images scale properly on smaller screens */
    }
}

/* ============ PAGE 6 | ABOUT US ============================================== */

.about-us-main {
    display: block;
    padding: 20px;
    margin: 0;
}

.about-us-main .container-fluid {
    padding: 20px;
    margin-top: 20px;
    background-color: var(--mainGray);
}

.about-us-main .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.about-us img {
    border-radius: 10px;
    max-width: 60%;
    height: auto;
}

/* for cards in Locations */
.card {
    border-radius: 10px;
    background-color: var(--textWhite);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 15px;
}

.card-title {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 1.5rem;
}

.card-text {
    color: var(--secondaryColor);
    font-size: 1rem;
}

.card-map {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px rgb(211, 211, 211);
}

/* Styling for the volunteering sections */
.volunteer-link {
    color: var(--secondaryColor);
    text-decoration: underline;
}

.volunteer-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.volunteer-heading {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2.5rem;
    color: var(--secondaryColor);
}

.volunteer-text, .volunteer-link {
    font-size: 1.25rem;
}

/* Adjustments for tablets and small desktops */
@media (max-width: 992px) {
    .about-us img {
        max-width: 50%; 
    }

    .card-title, .volunteer-heading {
        font-size: 1.75rem;
    }

    .card-text, .volunteer-text, .volunteer-link {
        font-size: 1.1rem;
    }

    .card, .card-body {
        padding: 10px;
    }
}

/* Refinement for medium devices */
@media (max-width: 800px) {
    .about-us img {
        max-width: 80%;
    }

    .card {
        margin-bottom: 15px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

/* Adjustments for phones */
@media (max-width: 576px) {
    .about-us img {
        max-width: 100%;
    }

    .card-title, .volunteer-heading {
        font-size: 1.5rem;
    }

    .card-text, .volunteer-text, .volunteer-link {
        font-size: 0.9rem;
    }
}
