/* General Page Layouts and Elements */
.distribution, .po-box, .volunteer-link {
    text-align: center;
}

/* Distribution Cards */
.distribution-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -15px;
}

.distribution-box {
    border: 1px solid var(--secondaryColor);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 15px;
    background-color: #fff;
    margin: 10px;
    flex-basis: calc(33.333% - 20px); /* Adjustment for spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Ensures cards do not overflow the viewport */
}

.distribution-box li {
    text-align: left;
}

.distribution-box:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.distribution-box figure, .distribution-box img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.distribution-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.distribution-box p, .distribution-box a, .distribution-box ul {
    font-size: 1rem;
    padding: 0 10px;
}

.about-image {
    border-radius: 15px;
    max-width: 60%;
}

.po-box {
    border-style: dashed;
    padding: 1.5%;
}

/* Cards, Volunteering, and About Us Sections */
.card, .volunteer-image {
    border-radius: 15px;
    margin-bottom: 20px;
    max-width: 100%;
}

.card-body, .about-us-main .container-fluid {
    padding: 15px;
    background-color: var(--textWhite);
    border-radius: 15px;
}

.card-title, .volunteer-heading {
    color: var(--mainColor);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.5rem;
}

.card-text {
    color: var(--secondaryColor);
}

/* Responsive Design Adjustments */
@media (max-width: 992px) {
    .about-us img, .card-title, .volunteer-heading {
        font-size: 1.75rem;
        max-width: 50%; 
    }

    .card-text, .volunteer-text, .volunteer-link {
        font-size: 1.1rem;
    }

    .card, .card-body {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .distribution-row, .card {
        flex-direction: column;
    }

    .distribution-box {
        flex-basis: 100%;
    }

    .distribution-box img {
        max-width: 100%;
    }

    .card-title, .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .about-us img {
        max-width: 100%;
    }

    .card-title, .volunteer-heading, .card-text, .volunteer-text, .volunteer-link {
        font-size: 0.9rem;
    }
}