* {
    box-sizing: border-box;
}

:root {
    --mainColor: #004d2c;
    --secondaryColor: #795548;
    --tertiaryColor: #e6e6e6;
    --textWhite: #ffffff;
    --navbar-hover-text-color: #00b840;
    --navbar-active-color: #006938;
    --navbar-border-color: #ffffff;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--tertiaryColor);
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

ul, ol {
    padding-left: 40px;
}

header, footer {
    flex-shrink: 0;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-size: 2rem;
}

/* Containers and Grids */
.container, .container-fluid {
    padding: 20px;
    margin: auto;
    width: 100%;
}

.row > * {
    padding: 10px;
}

/* Changing bootstrap's primary button to fit */
.btn-primary {
    background-color: var(--secondaryColor);
    border: none;
}
.btn-primary:hover {
    background-color: #63463b;
}

/* Text color classes */
.mainColorText, .org-row-title {
    color: var(--mainColor);
}
.secondaryColorText, .org-row-desc {
    color: var(--secondaryColor);
}

/* Navbar */
.navbar-custom {
    background-color: var(--mainColor);
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-custom .navbar-brand img {
    height: 60px;
}

.navbar-custom .navbar-nav .nav-link {
    color: var(--textWhite);
    padding: 0.75rem 1rem;
    border-right: 2px solid var(--navbar-border-color);
    transition: color 0.3s, background-color 0.3s;
}

.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
    background-color: var(--navbar-hover-background_color);
}

.navbar-toggler-icon {
    color: #fff;
    font-size: 30px;
}

/* Main Content */
.main-page {
    margin-top: 15px;
    justify-content: center;    
    background-color: #f8f9fa;
    border-radius: 15px;
}

#fsCarousel, #tsCarousel {
    max-width: 85%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 15px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 300px;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    border-left: 2px solid var(--navbar-border-color);
    padding: 20px;
    margin-bottom: 1.7%;
}

.sidebar ul {
    padding: 0;
    margin-bottom: 20px;
}

.sidebar li {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

/* Sidebar buttons */
.sidebar-buttons, .sidebar-buttons:link, .sidebar-buttons:visited, .sidebar-buttons a {
    background-color: var(--secondaryColor);
    color: var(--textWhite);
    border-radius: 7px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}
.sidebar-buttons:hover {
    color: var(--tertiaryColor);
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    background-color: var(--mainColor);
    color: var(--textWhite);
    width: 100%;
}

footer section {
    margin: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
}

footer li {
    color: var(--textWhite);
    font-weight: 200;
    padding: 5px;
    text-align: center;
    margin: 0px 20px;
    border-radius: 10px;
    background-color: #006234;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li a {
    color: var(--textWhite);
}

footer li a:hover {
    color: #cfcfcf;
}

.distribution, .po-box, .volunteer-link {
    text-align: center;
}
/* Distribution Cards */
.distribution-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.distribution-box {
    border: 1px solid var(--secondaryColor);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    padding: 15px;
    background-color: #fff;
    margin: 10px;
    flex-basis: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
}
.distribution-box li {
    text-align: left;
}
.distribution-box:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.distribution-box img {
    width: 70%;
    max-height: 330px;
    border-radius: 15px;
    max-width: 100%;
}
.distribution-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}
.distribution-box h3, .distribution-box p, .distribution-box a, .distribution-box ul {
    padding: 0 10px;
    overflow-wrap: break-word;
}
.po-box {
    border-style: dashed;
    padding: 1.5%;
}
/* CSFP */
.csfp-main {
    padding-top: 20px;
    background-color: #f4f4f4;
}
.csfp-main header {
    color: var(--mainColor);
    background-color: #e9ecef;
    margin-bottom: 10px;
}
.csfp-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.csfp-banner {
    margin: 0;
    width: 100%;
    max-height: 60px;
    border-radius: 15px;
    display: block;
    object-fit: cover;
}
.csfp-details p {
    padding: 10px;
}
.csfp-text {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}
.csfp-buttons {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.csfp-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.csfp-buttons a:hover {
    background-color: #3f3b37;
}
.csfp-image {
    width: 45%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.csfp-list li {
    margin-bottom: 5px;
    line-height: 1.6;
}
.csfp-list-image {
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* Signup Section */
.csfp-signup {
    text-align: center;
    height: auto;
}
.csfp-signup p, .csfp-signup ul {
    margin-bottom: .5rem;
}
.csfp-signup ul {
    display: flex;
    justify-content: center;
}
.csfp-signup li {
    color: var(--secondaryColor);
    font-weight: bold;
    display: inline-block;
    padding-right: 15px;
}
/* Signup Image */
.csfp-signup img {
    width: 85%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

/* Organizations */
.org-row {
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #f8f9fa;
    box-shadow: 5px 5px #dbdbdb;
}
.org-row header {
    transition: background-color 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.org-row-title {
    font-weight: bold;
    color: var(--mainColor);
    display: flex;
    align-items: center;
    gap: 15px;
}
.arrow-icon {
    transition: transform 0.3s ease;
}
.org-row-desc {
    font-weight: bold;
    color: var(--secondaryColor);
}
.org-row-image {
    max-width: 55%;
    height: auto;
    border-radius: 5px;
}
.org-row-extra {
    padding: 15px;
    border-top: 3px solid var(--tertiaryColor);
}
.org-row:hover {
    background-color: #e9ecef;
}
/* Newsletter styling */
.n-side {
    display: flex;
    align-items: center;
}
.news-sidebar {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* Newsletter form */
.news-input {
    border-radius: 5px;
    border: 1px solid #ccc;
}
/* Link buttons on the sidebar */
.link-button {
    background-color: #f8f9fa;
    color: #333;
    border-radius: 15px;
    border: solid var(--secondaryColor) 1px;
    transition: background-color 0.3s ease;
}
.link-button:hover {
    background-color: #e9ecef;
    text-decoration: none;
    color: #004d2c;
}
.link-button-item {
    overflow: hidden;
    margin-bottom: 10px;
}
/* Cards, Volunteering, and About Us Sections */
.about-us-main > .my-3 {
    margin-top: 0px !important;
}
.about-image {
    border-radius: 15px;
    max-width: 60%;
}
.card, .volunteer-image {
    border-radius: 15px;
    max-width: 100%;
}
.card-body {
    padding: 15px;
    background-color: var(--textWhite);
    border-radius: 15px;
}
.card-title, .volunteer-heading {
    color: var(--mainColor);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
}
.card-text {
    color: var(--secondaryColor);
}
.arrow-icon {
    transition: transform 0.3s ease;
}
.rotate-dropdown {
    transform: rotate(90deg);
}
.card-header {
    cursor: pointer;
    border-radius: 15px;
}
.card-header h2, .card-header time {
    padding: 10px;
    margin-bottom: 0;
}
.card-header h2 {
    text-decoration: underline;
}
/* Styling for author and image */
.post-author img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.collapse {
    border-radius: 0 0 15px 15px;
}
.card-header:hover {
    background-color: #f8f9fa;
}
.donation-card {
    padding: 20px;
    margin-top: -15px;
    margin-bottom: -35px;
}
.donation-card h3 {
    text-align: left;
}
.donation-card img {
    display: block;
    border-radius: 15px;
    max-height: 170px;
}
.wrap-list {
    column-count: 2;
    column-gap: 20px;
    padding: 0;
    list-style-type: square;
}
.wrap-list li {
    break-inside: avoid;
    margin-bottom: 10px;
}
.blog-post-card {
    margin-bottom: 20px;
}
.post-header {
    align-items: center;
}
.post-title-section {
    flex-grow: 1;
}
.author-avatar {
    width: 50px;
    height: 50px;
}
.arrow-icon {
    min-width: 30px;
}

/* Responsive changes */
@media (max-width: 992px) {
    .main-youtube, .wide-image, .sidebar {
        flex-basis: 100%;
        max-width: 100%;
    }

    .navbar-custom .navbar-nav .nav-link,
    footer {
        font-size: 0.8rem;
    }

    .about-us img, .card-title, .volunteer-heading {
        font-size: 1.75rem;
    }
    .card, .card-body {
        padding: 10px;
    }
    .distribution-box {
        flex-basis: 100%;
    }
    .distribution-box img {
        width: 100%;
    }
    .card-text, .volunteer-text, .volunteer-link {
        font-size: 1rem;
    }
    .csfp-text {
        border-bottom: 2px solid #dee2e6;
        border-right: none;
    }
    .csfp-image {
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .csfp-image:last-child {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    h1, h2, h3, h4, h5, .card-title, .card-text, .sidebar li {
        font-size: 1.5rem;
    }
    .distribution-box {
        flex-basis: 100%;
    }
    .post-header {
        flex-wrap: wrap;
    }
    .post-title-section {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .post-title {
        font-size: 1.25rem;
    }
    .post-date {
        font-size: 0.85rem;
    }
    .author-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
}

@media (max-width: 576px) {
    h1, h2, h3, h4, h5, .card-title, .card-text {
        font-size: 1.5rem;
    }
    #fsCarousel .carousel-inner .carousel-item img, #tsCarousel .carousel-inner .carousel-item img {
        height: 300px;
    }
    footer ul {
        flex-direction: column;
    }
    footer li, footer li a {
        width: 100%;
        margin: 10px 0;
    }
    .about-us img {
        max-width: 100%;
    }
    .distribution-box {
        padding: 10px;
        flex-basis: 100%;
    }
}